.ant-layout {
  height: 100%;
  overflow: auto;

  .ant-layout-header {
    .logo {
      width: 150px;
      height: 45px;
    }
  }

  .ant-layout-content {
    padding: 0 50px;

    .inner-content {
      padding: 24px;
    }
  }
}
